<a href="https://colab.research.google.com/github/mmcpike/Euler-Problems/blob/main/Euler54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Poker Hands
The file, poker.txt, contains one-thousand random hands dealt to two players. Each line of the file contains ten cards (separated by a single space): the first five are Player 1's cards and the last five are Player 2's cards. You can assume that all hands are valid (no invalid characters or repeated cards), each player's hand is in no specific order, and in each hand there is a clear winner.

How many hands does Player 1 win?

In [4]:
import pandas as pd

In [54]:
url = 'https://raw.githubusercontent.com/mmcpike/Euler-Problems/refs/heads/main/0054_poker.txt'
df = pd.read_csv(url,index_col=False,header=None,delimiter='\s+')

In [130]:
df_kind = pd.DataFrame(df)
for column in df_kind:
    df_kind[column] = df_kind[column].str.slice(start=0,stop=1)

df_suit = pd.DataFrame(df)
for column in df_suit:
    df_suit[column] = df_suit[column].str.slice(start=1,stop=2)

In [139]:
df_kind1 = df_kind.iloc[:,0:5]
df_kind2 = df_kind.iloc[:,5:10]
df_suit1 = df_suit.iloc[:,0:5]
df_suit2 = df_suit.iloc[:,5:10]

# What hand does each player have?
* A. High Card: Highest value card.
* B. One Pair: Two cards of the same value.
* C. Two Pairs: Two different pairs.
* D. Three of a Kind: Three cards of the same value.
* E. Straight: All cards are consecutive values.
* F. Flush: All cards of the same suit.
* G. Full House: Three of a kind and a pair.
* H. Four of a Kind: Four cards of the same value.
* I. Straight Flush: All cards are consecutive values of same suit.
* J. Royal Flush: Ten, Jack, Queen, King, Ace, in same suit.

Count the number of repeated suits and kinds.

In [132]:
# Player 1, hand 1
df_kind1['max_kind'] = 0 # Max number of cards of the same value
df_kind1['min_kind'] = 0 # Min number of cards of the same value (used for full house)
df_kind1['num_pairs'] = 0

for row in df_kind1.index:
  df_kind1.loc[row,'max_kind'] = df_kind1.iloc[row,:].value_counts().max()
  df_kind1.loc[row,'min_kind'] = df_kind1.iloc[row,:].value_counts().min()
  df_kind1.loc[row,'num_pairs'] = df_kind1.iloc[row,:].value_counts().value_counts()[2]

df_kind1.loc[df_kind1['max_kind'] == 4, 'hand'] = 'H'
df_kind1.loc[(df_kind1['min_kind'] == 3) & (df_kind1['least_kind'] == 2), 'hand'] = 'G'

KeyError: 2

In [143]:
df_kind1.iloc[0,:].value_counts()

0
8    1
T    1
K    1
9    1
4    1
Name: count, dtype: int64